<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="Вход в админ-панель" name="keywords" />
<meta content="Вход в админ-панель" name="description" />
    <title>Вход в админ-панель</title>
    <link rel="stylesheet" type="text/css" href="/css/admin/login.css" />
    <script src="/js/browsers.js" type="text/javascript"></script>
</head>
<body>
        <div class="container">
                <div class="login_form_wrapper">
                    {% set form = this.beginWidget('CActiveForm', {
                        'id':'login_form',
                        'enableAjaxValidation':false,
                        'htmlOptions':{'action':'/admin'},
                    }) %}
                                <h1>Вход в админ-панель</h1>
                                <h2>администрирование сайта</h2>
                                <input name="LoginForm[username]" type="text" value="Логин..." onblur="if(this.value=='') this.value='Логин...';" onfocus="if(this.value=='Логин...') this.value=''" />
                                <input name="LoginForm[password]" type="password" value="Пароль..." onblur="if(this.value=='') this.value='Пароль...';" onfocus="if(this.value=='Пароль...') this.value=''" />
                                <p><input type="checkbox" id="LoginForm_rememberMe" value="1" name="LoginForm[rememberMe]" /> запомнить меня</p>
                                <input type="submit" value="" name="yt0" />
                     {{ void(this.endWidget()) }}
                </div>
        </div>
</body>
</html>