{% extends 'views/layouts/main.twig' %}
{% block content %}
    <section id="content">
        <div class="actions">
            <ul>
                <li class="actions-item">
                    <img src="/images/mainActions.jpg" alt=""/>
                    <div class="name">Три <br/> футболки <br/> за $68</div>
                    <div class="description">
                        <span>Распродажа футболок. Три за $68.</span><br/>
                        <a href="#">Подробнее</a>
                    </div>
                </li>
                <li class="actions-item">
                    <img src="/images/mainActions.jpg" alt=""/>
                    <div class="name">Три футболки за $68</div>
                    <div class="description">
                        <span>Распродажа футболок. Три за $68.</span><br/>
                        <a href="#">Подробнее</a>
                    </div>
                </li>
                <li class="actions-item">
                    <img src="/images/mainActions.jpg" alt=""/>
                    <div class="name">Три футболки за $68</div>
                    <div class="description">
                        <span>Распродажа футболок. Три за $68.</span><br/>
                        <a href="#">Подробнее</a>
                    </div>
                </li>
                <li class="actions-item">
                    <img src="/images/mainActions.jpg" alt=""/>
                    <div class="name">Три футболки за $68</div>
                    <div class="description">
                        <span>Распродажа футболок. Три за $68.</span><br/>
                        <a href="#">Подробнее</a>
                    </div>
                </li>
                <li class="actions-item last">
                    <img src="/images/mainActions.jpg" alt=""/>
                    <div class="name">Три футболки за $68</div>
                    <div class="description">
                        <span>Распродажа футболок. Три за $68.</span><br/>
                        <a href="#">Подробнее</a>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </section>
    <!-- END main -->
{% endblock %}
{% block scripts %}
{% endblock %}