<html class="gecko firefox2  linux" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>        