{% include "views/layouts/head.twig" %}
<body>        
{% include "views/layouts/header.twig" %}
{% include "views/layouts/sidebar.twig" %}
<div class="art-layout-cell art-content-sidebar2">
  {{ content|raw }}
</div>
</div>
{% include "views/layouts/footer.twig" %}
</body>
</html>
