<!-- footer -->
    <div class="footer">
        <div class="cont">
            <div class="copyright">
                <span>©{{ now|date('Y')}}</span>
            </div>
            <a class="small_logo" href="#"><img src="http://ros-gruz.ru/images_admin/small-logo.png" alt="" /></a>
            <div class="clear"></div>
        </div>
    </div>
    <!-- end footer -->