  <div class="header">
            <div class="cont">
                <a class="logo" href="#"><img src="/images/admin/logo.png" alt="" /></a>
                
                <div class="status_block">
                	<a href="/admin/accesschange">Сменить пароль</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin/logout">Выход</a>
                    <!--<p>
                        <img src="http://victoriatur.ru/images_admin/red-bell-icon.png" alt="" />
                        <span>У Вас <a href="#">2</a> новых уведомления</span>
                    </p>
                    <p>
                        <img src="http://victoriatur.ru/images_admin/black-bell-icon.png" alt="" />
                        <span>Нет новых уведомления</span>
                    </p>-->
                </div>
                <div class="clear"></div>
            </div>
        </div>